language: python
python:
  - '2.7'
  - '3.4'
install:
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install httpretty
  - pip install nose
  - pip install pep8
after_success: coveralls
script:
  - pep8 coredata
  - nosetests  --with-coverage --cover-package=coredata
deploy:
  provider: pypi
  user: koddsson
  password:
    secure: eQmsRoGaeeT3/C822jOhDy88Sg1bLg+jXmWNK8YUsz5AFOf1NSNpNYpOTxrFVtmHmopvzBqYGQvQaApVJKjwOR2m3qM/pjjwOg+qnqqTUKACq4+7Hb9WQhwrZrOStnE4p1OtPU9a1FTOEsi2EVlTmXMiSveiLKXaZKRWlbNYtmQ=
  on:
    tags: true
    all_branches: true
    repo: koddsson/coredata-python-client
